.img-card{
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 15px;
  }

.img-card img {
    width: 200px;
    height: 200px;
    object-position: center;
    object-fit: cover;
  }